<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tools.common.mapper.TestMapper" >



  <select id="getHadJobStu" resultType="java.lang.Integer" parameterType="com.ughen.model.vo.StatisticRateRespVO">
    select count(*) as num from em_student where job_status = 1
    and auth_id =1

    and class_no in
    <foreach collection="classNos" item="id" index="index" open="(" close=")" separator=",">
    #{id}
  </foreach>

  </select>


</mapper>